<div id="<%= dom_id answer %>">
  <p>
    <strong>Response:</strong>
    <%= answer.response_id %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= answer.question_id %>
  </p>

  <p>
    <strong>Answer text:</strong>
    <%= answer.answer_text %>
  </p>

  <p>
    <strong>Option:</strong>
    <%= answer.option_id %>
  </p>

</div>
